<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="/CSS/style.css"
    />
    <script src="main.js"></script>
  </head>
  <body>
    <header>
      <h1>
        <a href="/">My Tech Blog!</a>
      </h1>
      <nav>
        {{#if loggedIn}}
        <button id="logout" class="btn">logout</button>
        {{/if}}
        <a href="/login">login</a>
        <a href="/dashboard">dashboard</a>
      </nav>
    </header>
    <main>
      {{{body}}}
    </main>
    <footer>
      Thanks for visiting!
    </footer>
    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}
  </body>
</html>