<section>
  <h2>Create New Post</h2>

  <form class="new-post-form">
    <div>
      <label for="post-title">Title:</label>
      <input type="text" id="post-title" name="post-title" />
    </div>
    <div>
      <label for="post-body">Body:</label>
      <textarea name="post-body" id="post-body"></textarea>
    </div>
    <button type="submit" class="create-btn">Create</button>
  </form>
</section>


<script src="/Javascript/add-post.js"></script>