<ol class="post-list">
  <li>
    <article class="post">
      <div class="title">
        Example Post! You can click me at a later date to be taken to the post!
      </div>
      <div class="meta">
        Some kind of vote system. | comments!
      </div>
    </article>
  </li>
</ol>